---
import Container from "@/components/Container.astro";
import Base from "@/layouts/Base.astro";
---

<Base title="404" description="找不到頁面">
  <Container>
    <h1 class="text-4xl font-bold mb-4">404</h1>
    <p class="text-lg">找不到頁面</p>
  </Container>
</Base>
