---
import BackToTop from "@/components/BackToTop.svelte";
import Container from "@/components/Container.astro";
import Base from "@/layouts/Base.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const pages = await getCollection("page");

  const paths = pages.map((page) => ({
    params: {
      page: page.id,
    },
    props: { page },
  }));
  return paths;
}

const { page } = Astro.props;
const { title, description, og, meta_title } = page.data;
const { Content } = await render(page);
---

<Base title={meta_title} description={description} og={og}>
  <Container>
    <h1
      class="animate my-10 text-2xl font-semibold text-black dark:text-white"
      set:html={title}
    />
    <article class="animate content mb-16">
      <Content />
    </article>

    <div class="animate flex mt-16">
      <BackToTop client:only="react" />
    </div>
  </Container>
</Base>
