---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"a"> {
  href: string;
  external?: boolean;
  underline?: boolean;
};

const { href, external, underline = true, ...rest } = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  data-underline={underline}
  class="inline-block decoration-current/15 hover:decoration-current/25 text-accent-foreground hover:text-accent-foreground/80 transition-colors duration-300 ease-in-out data-underline:underline data-underline:underline-offset-2"
  {...rest}
>
  <slot />
</a>
